*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    /* Colours */

    /* Primary */
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: rgb(0, 255, 247);


    /* Neutral */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --generic-white: hsl(0, 0%, 100%);

    /* Body Copy */
    --paragraph-font-size: 18px;

}

body {
    background-color: var(--main-bg-color);
    font-family: Outfit, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

figure {
    position: relative;
    max-width: 100%;
}

.figure .hover-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
}

#card-container {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    flex: 0;
    /* box-shadow: 0px 13px 13px teal; */
}

.cube-image {

    border-radius: 1rem;
    width: 350px;
}


#text-info {
    flex-direction: column;
    /* color: var(--generic-white); */

}

.card-title {
    display: inline-block;
    margin: 1rem 0 1rem 0;
}


#text-info .card-title {
    color: var(--generic-white);
}

.card-description {
    color: var(--primary-soft-blue);
    font-weight: 300;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;

}

.card-paragraphs {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: var(--paragraph-font-size);
    border: 1px solid var(--line-color);
    border-width: 0 0 thin 0;
    border-radius: 1px;
    padding-bottom: 1rem;
    margin: 0;

}

.eth {
    color: var(--primary-cyan);
    font-weight: 600;
    margin: 10px;


}

.clock {
    color: var(--primary-soft-blue);
    font-weight: 300;
    margin: 10px;

}



.eth-section {
    display: flex;
    align-items: center;
}

.time-section {
    display: flex;
    align-items: center;
}



.card-footer {
    display: flex;
    align-items: center;
    font-size: var(--paragraph-font-size);


}

.card-footer img {
    border: 1px solid var(--generic-white);
    border-radius: 50%;
    flex: 0 1 auto;
    width: 32px;
    height: 32px;
    margin-right: 1em;

}

.card-footer .creation-of {
    color: var(--primary-soft-blue);

}

.card-footer .creator {
    color: var(--generic-white);
}


/* transitions */
#card-container {
    transition: box-shadow 0.25s 0.1s;
}

#card-container:hover {
    box-shadow: 0px 6px 12px teal;
}


#text-info .card-title, .creator {
    transition: color 0.25s 0.1s;
}

.creator:hover, #text-info .card-title:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

figure {
    display: flex;
    background-image: url(./img/image-equilibrium.jpg);
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    margin: 0;
    background-size: contain;
    /* display: inline-block; */
    /* position: relative; */
}

figure:hover {
    opacity: 0.5;
    background-image: linear-gradient(rgba(0, 255, 247, 0.5), rgba(0, 255, 247, 1)),
        url("./img/image-equilibrium.jpg");


}






/* MEDIA controls below this line */