* {
    box-sizing: border-box;
}

:root {
    /* Colours */

    /* Primary */
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);


    /* Neutral */
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --generic-white: hsl(0, 0%, 100%);

    /* Body Copy */
    --paragraph-font-size: 18px;

}

body {
    background-color: var(--main-bg-color);
    font-family: Outfit, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#card-container {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    flex: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}



.cube-image {

    border-radius: 1rem;
    width: 350px;
}


#card-text {
    border: 2px solid var(--generic-white);
}


.text-info {
    display: flex;
    flex-direction: column;
}


.card-title {

    color: var(--generic-white);

}

.card-description {
    color: var(--primary-soft-blue);
    font-weight: 300;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;

}

.card-paragraphs {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: var(--paragraph-font-size);
    border: 1px solid var(--line-color);
    border-width: 0 0 thin 0;
    border-radius: 1px;
    padding-bottom: 1rem;
    margin: 0;

}





.eth {
    color: var(--primary-cyan);
    font-weight: 600;
    margin: 10px;


}

.clock {
    color: var(--primary-soft-blue);
    font-weight: 300;
    margin: 10px;

}



.eth-section{
    display: flex;
    align-items: center;
}

.time-section{
    display: flex;
    align-items: center;
}



.card-footer {
    display: flex;
    align-items: center;
    font-size: var(--paragraph-font-size);


}

.card-footer img {
    border: 1px solid var(--generic-white);
    border-radius: 50%;
    flex: 0 1 auto;
    width: 32px;
    height: 32px;
    margin-right: 1em;

}

.card-footer span {
    color: var(--primary-soft-blue);

}

.card-footer p {
    color: var(--generic-white);
}


/* MEDIA controls below this line */

