h1,h2 {
    color: olivedrab;
}

body{
    background-color: #f1faee ;
}

button{
    background-color: cadetblue;
}

#signup{
    background-color: darkblue;
    color: lightblue;
}

span{
    color: lightcoral;
}

.tag {
    background-color: wheat;
    color: steelblue;
}

.post a {
    background-color: rgb(212, 94, 47);
}

.footernav a{
    color: tomato;
    border: 1px solid grey;
}

/* p:hover{
    background-color: turquoise;
} */

/* p:nth-of-type(even){

} */

.footernav{
    border: 4px solid black;
    border-radius: 10px 100px / 120px;
}

